@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.container {
  @apply max-w-[1300px] mx-auto py-0 px-[20px] md-920:px-[40px];
}

.header {
  @apply top-20;
}

.fixed_center {
  position: fixed;
}

.footer_navlink {
  @apply text-sm transition-all duration-300 text-white font-normal hover:text-[hsla(0,0%,100%,.5)];
}

.navlink {
  @apply font-semibold text-sm lg-1150:text-base hover:text-brand-blue-100 transition-all duration-300;
}

.gradient {
  background: linear-gradient(1turn, #7344fc, #1127e3);
}

.span_gradient {
  background: linear-gradient(180deg, #1127e3, #7344fc);
}

.absolute-center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fixed_center {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

.grid_row_1 {
  grid-row: 1;
}

.explainer_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.features_grid {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

/* .swiper {
  @apply max-w-[996px] h-[410px];
} */

.mySwiper {
  @apply max-w-[996px] h-[410px];
}

.testimonial-swiper-slide {
  @apply flex flex-col justify-center items-center rounded-[8px] py-[65px] max-md:px-[26px] md:p-[104px];
  background: rgba(17, 39, 227, 0.15);
}

.auth-swiper-slide {
  @apply flex flex-col justify-center text-center items-center;
}

.pricing-list li {
  @apply flex text-left font-normal text-base leading-[18px] items-start justify-start mb-[22px] gap-[18px];
}

.pricing-sub-list {
  list-style: decimal;
}

.btn-gradient {
  background: linear-gradient(86.89deg, #1127e3, #7a46fd);
}

.outline-button:hover {
  background: linear-gradient(86.89deg, #1127e3, #7a46fd);
  color: white;
}

.box-shadow {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.login-btn:hover {
  color: white;
  border: none;
  background: linear-gradient(86.89deg, #1127e3, #7a46fd);
}

.dashboard-packages-bg {
  background: linear-gradient(250deg, #1127e3, #7a46fd);
}

.box-shadow-two {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

.dashboard-stats-shadow {
  box-shadow: 0 5.6652px 28.326px rgba(0, 0, 0, 0.1);
}

textarea {
  resize: none;
}

.clip-user-email {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
  width: 158px;
  overflow-wrap: break-word;
}

.scale-image:hover img {
  transform: scale(1.05);
  transition: all 0.8s ease-in;
  cursor: pointer;
}

.case-study-card {
  -webkit-filter: drop-shadow(0 4px 25px rgba(0, 0, 0, 0.1)) !important;
}

.no-scrollbar::-webkit-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  --webkit-scrollbar: none;
}

@media screen and (max-width: 920px) {
  .grid_row_1 {
    grid-row: auto;
  }

  .no-scrollbar::-webkit-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
    --webkit-scrollbar: none;
  }
}

@media screen and (max-width: 650px) {
  .features_grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
